$line-height: 2em;

.main {
  background-image: url('/texture-bg.jpg');
  width: 700px;
  height: 400px;
  display: grid;
  grid-template:
    'header'70px 'message'1fr;
}

.header {
  grid-area: header;
}

.message {
  position: relative;
  grid-area: message;
  font-size: 18px;
  line-height: $line-height;
  font-family: 'Kalam';
}

.message::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, transparent 0%, transparent 1.8em, #333 2em);
  background-size: 100% 2em;
}